{% extends "portfolio/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block body %}
<div class="b">
    <h2 style="padding: 50px;text-decoration: underline;">bio:</h2> 
    <p style="padding-left: 50px;">
        I am a B.Sc holder in Aeronautical engineering.<br>
        I worked as a mathematics and physics teacher for international schools for almost 10 years.<br>
        I am a very hard worker and a fighter. I used online classes to improve myself.<br>
        I know SQL, Tableau, C, Python, HTML, CSS, and JavaScript<br>

        My experience qualifies me to work in any work environment. During my tenure,<br> I learnt how to manage my time effectively, <br> 
        especially during rush times. I learnt how to think critically and smartly<br> 
        to be able to predict problems that may happen. <br> 
        I believe I have a very good trait which is I do not panic which turned out to be very helpful <br> 
        and I leveraged during the war in Sudan. <br> 
        Technical skills can be taught, but soft skills are the hardest and take years to acquire.<br> 
    </p>

            <h2 style="padding: 50px; text-decoration: underline;"><b>EDUCATION</b></h2>
            <p style="padding-left: 50px;">B.Sc Aeronautical Engineering<br>
                Google Project Managment professional certificate<br>
                Googel Data Analytics Professional Certificate<br>
                Cs50x by Harvard<br>
            </p>

    <h2 style="padding-left: 50px;">CONTACT</h2>
            <address style="padding: 50px;">
                Cairo - Egypt<br>
                New Egypt<br>
                tel: +201556640938<br>
                <a href="mailto:mina_eskander@outlok.com">email: mina_eskander</a>

            </address>
</div>
{% endblock %}