{% extends "portfolio/layout.html" %}

{% block title %}
    Experience
{% endblock %}

{% block body %}
<div class="b">
    <h2 style="padding: 50px; padding-left: 50px; text-decoration:underline;"><b>EXPERIENCE</b></h2>
    <p><i>Jan 2022 - July 2023</i>School Teacher at Unity High School:<br>
    <ul>
        <li>Effective planning and teaching of Cambridge IGCSE<br>
            and AS levels, physics, and mathematics.</li>
        <li>Planning and executing examination programs</li>
        <li>Management of the curricular and extra curricular
            activities of year 12 as Head of Year.
            </li>
    </ul>
    </p>
    <p><i>August 2019 - December 2021</i>School Teacher at Unity High School:</p>

    <ul>
        <li>I taught Cambridge Curriculum IGCSE, Physics, for<br>
            years 9 and 10.</li>
    </ul>
    <p><i>August 2019 - July 2020</i>School Teacher at Gems INternational school</p>
    <p><i>Narch 2017 - July 2019</i>School teacher at Unity High School:</p>

    <ul>
        <li>I taught Cambridge Curriculum IGCSE, Physics and<br>
            Mathematics, for years 9,10,11, and 12.
            </li>
        <li>Besides the teaching post, I had a managerial post,<br>
            as an examination officer who is responsible for the<br>
            running of the domestic and Cambridge exams.</li>
        <li>I was the form tutor of one group in year 11.
        </li>
        <li>Was responsible for their day-to-day activities from<br>
            the morning till they leave the school campus
            </li>

    </ul>
    <p><i> August 2014 - December 2017</i>Orientation assistant for <abbr>Sudan Volunteer Programme</abbr>SVP</p>

    <ul>
        <li>Played a pivotal role in making the new volunteers<br>
            blend in with the Sudanese community.
            </li>
        <li>Introduced them to the Coptic culture; took them<br>
            to attend services at churches.</li>
        <li style="padding-bottom: 20%;">They had a pleasant experience with the Sudanese
            cuisine</li>

    </ul>

    </div>

{% endblock %}